<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
  <header>    
    <h1>Tanie wpierdalanie</h1>
    <h2> U nas szybko zamówisz i tanio zjesz :p</h2>
  </header>    
    <div id="container">
    <%- if params[:controller] == 'orders' && params[:action] == "index" %>
      <div id='datepicker'></div>
    <% end %>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
